/* .layer {
    content: "";
    background-image: radial-gradient(at 40% 20%,
            rgb(255, 184, 122) 0px,
            transparent 50%),
        radial-gradient(at 80% 0%, rgb(31, 221, 255) 0px, transparent 50%),
        radial-gradient(at 0% 50%, rgb(255, 219, 222) 0px, transparent 50%),
        radial-gradient(at 80% 50%, rgb(255, 133, 173) 0px, transparent 50%),
        radial-gradient(at 0% 100%, rgb(255, 181, 138) 0px, transparent 50%),
        radial-gradient(at 80% 100%, rgb(107, 102, 255) 0px, transparent 50%),
        radial-gradient(at 0% 0%, rgb(255, 133, 167) 0px, transparent 50%);
    background-repeat: no-repeat;
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    top: 100px;
    z-index: -9999;
} */

.timecontainer {
    display: flex;
    justify-content: center;
    gap: 5px;

}

.timer {
    color: #FF3B30;
    padding: 10px 10px;
    font-size: 38px;
    font-weight: 800;
    /* min-width: 60px; */
}

.breadcumsmain {
    background-image: url('../../Assets/Breadcoms.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    display: flex;
    justify-content: end;
    align-items: center;
}

.breadlink {
    position: relative;
    right: 330px;
}

.breadlink ul li {
    list-style-type: none;
    display: inline;
    color: #fff;
}

.breadlink ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    letter-spacing: 2px;
}

.breadlink h1 {
    color: #fff;
    letter-spacing: 5px;
}

.breadlink ul li a:hover {
    text-decoration: underline;
}

.otp-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.otp-inputs input {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    border: 2px solid #8e44ad;
    background: #f8f6fb;
    outline: none;
    font-size: 24px;
    text-align: center;
    transition: 0.3s ease;
    margin-left: 10px;
    
}


.otp-inputs input:focus {
    border-color: rgb(79, 173, 33);
    box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset, rgba(79, 173, 33, 0.6) 0px 0px 8px;
    outline: none 0px;
}

@media (min-width:320px) and (max-width:480px) {
    .timecontainer {
        display: block;
        position: relative;
        bottom: 50px;
        left: 30px;
        width: 140px;
    }

    .timer {
        font-size: 11px;
        font-weight: 900;
    }

    .breadlink {
        margin-top: 30px;
        margin-left: 150px;
        position: static;
    }

    .breadcumsmain {
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .breadlink ul li a {
        font-size: 12px;
        letter-spacing: 0px;
    }

    .breadlink h1 {
        font-size: 26px;
        letter-spacing: 0px;
    }

}