.loginsection {
    overflow: hidden;
}

.loginmain {
    width: 100%;
    height: 100vh;
    display: flex;
}

.loginpage {
    flex: 1 1 0;
    padding: 2rem;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forms1 {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    max-width: 55%;
}

.logimg {
    margin-bottom: 22px;
    cursor: pointer;
}

.logimg img {
    max-width: 150px;
    height: auto;
    color: transparent;
    object-fit: contain;
}

.forms1 h1 {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

.forms1 h2 {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    color: grey;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forms1 h2 span {
    color: rgb(79, 173, 33);
    padding-right: 1rem;
}

.forms1 h2 i {
    font-size: 1.8rem;
    cursor: pointer;
}

.forms1 h2 a {
    text-decoration: none;
    color: gray;
}

.loginin1 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.loginin1 span {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #212529;
    background-color: bisque;
    padding: 6px 12px;
    display: flex;
    align-items: center;
}



.forms1 button {
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    color: #050505;
    background-color: rgb(79, 173, 33);
    cursor: pointer;
    width: 100%;
    transition: all 0.3s ease-in-out, box-shadow 0.3s;
}

.forms1 button:hover {
    background-color: #66d43787;
}

.terms1 {
    margin: 1rem 0px 1.5rem 0px;
}

.terms1 p {
    font-size: 0.8rem;
    font-weight: 500;
}

.logback {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logback a {
    text-decoration: none;
}

.logback .backbtn {
    padding: 0.5rem 1.5rem;
    border-radius: 1000px;
    background-color: #f0f0f0;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 24px 50px;
    border: 1px solid rgb(224, 224, 224);
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logback .backbtn i {
    font-size: 18px;
    font-weight: 600;
}

.logback .backbtn:hover {
    transform: translateY(-3px);
    background-color: #fff;
}

.loginpage2 {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginimg {
    height: 100vh;
}

.loginimg img {
    width: 100%;
    height: 100%;
}

.loginnum1 .error1 {
    color: red;
    font-size: 15px;
    max-height: 28px;
    line-height: 1;
    visibility: hidden;
    margin: 5px 0px 5px 0px;
    text-align: start;
}

.error1.show {
    visibility: visible;
}

.logback1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0px;
}

.resendbtn button {
    background: none;
    border: none;
    padding: 0;
    color: rgb(79, 173, 33);
    text-decoration: underline;
    font-size: 0.8rem;
    font-weight: 600;
}

.resendbtn button:hover {
    background: none;
}

.c-link a {
    color: rgb(240, 94, 37);
    font-size: 0.8rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.c-link a i {
    font-size: 1rem;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.c-link a:hover i {
    transform: translateY(-3px);
}

@media(min-width:320px) and (max-width:480px) {
    .loginmain {
        width: 100%;
        height: inherit;
        display: block;
    }

    .loginpage {
        display: block;
    }

    .forms1 {
        width: 100%;
        display: block;
        max-width: inherit;
    }

    .logimg {
        margin-top: 3rem;
    }

    .logimg img {
        max-width: 80px;
    }

    .forms1 h1 {
        font-size: 24px;
        font-weight: 500;
    }

    .forms1 h2 {
        font-size: 12px;
        font-weight: 550;

    }

    .loginpage2 {
        display: none;
    }

    .loginnum1 .error1 {
        font-size: 12px;
    }
}