/* Homesection */
.Homesection {
    width: 100%;
    position: relative;
}

.homecontent {
    width: 100%;
    position: relative;
    z-index: 4;
}

.banner-img {
    width: 100%;
    height: 90vh;
}

.myswiper {
    width: 100%;
}

.img-content {
    position: relative;
}

.img-cont {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.img-cont h1 {
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 20px;
    color: #111111;
}

.img-cont p {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 30px;
    color: #4dff00;
}

.img-cont button {
    padding: 8px 20px;
    border: none;
    border-radius: 50px;
    background-color: #3b8d39;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.img-cont button:hover {
    border: 1px solid #65d437;
    background: transparent;
    color: #65d437;
}

.swiper-button-next,
.swiper-button-prev {
    color: #65d437;
}

.h-layer {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    z-index: 2;
}

/* Homesupport */
.supportsection {
    padding: 80px 60px;
}

.mainsupport {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.freeicon {
    padding: 30px 40px;
    text-align: center;
}

.free1,
.free2,
.free3,
.free4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    transition: all 0.3s ease-in-out;
}

.free1 .icon1 {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: #00ff9d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.free2 .icon1 {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: #e84393;
    display: flex;
    justify-content: center;
    align-items: center;
}

.free3 .icon1 {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: #8e44ad;
    display: flex;
    justify-content: center;
    align-items: center;
}

.free4 .icon1 {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: #3f51b5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.free .icon1 i {
    font-size: 50px;
    font-weight: 100;
    color: #fff;
}

.free1:hover,
.free2:hover,
.free3:hover,
.free4:hover {
    transform: scale(1.2) rotate(10deg);
}

.free h5 {
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 15px;
    color: #000000df;
    text-transform: uppercase;
}

.free p {
    font-size: 14px;
    font-weight: 500;
    color: #bbb;
}

/* slidersection */
.slidersection {
    background-image: url("../../Assets/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
    padding: 50px 60px 0px 60px;
}

.sliderhead .slidhead {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.slidhead {
    text-align: center;
}

.slidhead h2 {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    /* background: linear-gradient(90deg, #FFD700, #FFB200, #FFA200); */
    background: linear-gradient(90deg, #ff00cc, #333399);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.6);
    width: 30%;
    border-radius: 10px;
}

.slidmain {
    padding: 100px 10px;
}

.product-card {
    padding: 0px 10px;
}

.slidmove {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 30px -20px, rgba(0, 0, 0, 0.3) 0px 30px 0px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.slidmove .p-img {
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.slidmove h4 {
    text-align: center;
    color: #000000cf;
    font-weight: 600;
    padding-bottom: 10px;
}

.slidmove .p-price {
    text-align: center;
    color: #bbb;
    text-decoration: line-through;
    padding-bottom: 10px;
}

.slidmove .o-price {
    text-align: center;
    color: #65d437;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}

.slidmove:hover .p-img {
    transform: scale(0.8);
}

.slidmove,
.swiper-button-next {
    color: #000;
}

.slidmove,
.swiper-button-prev {
    color: #000;
}

@keyframes shakee {
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(-6px);
    }

    50% {
        transform: translateY(3px);
    }

    75% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* productsection */

.productsection {
    background-image: url("../../Assets/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 50px 60px;
}

.producthead {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.p-head h4 {
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    color: #65d437;
    padding-bottom: 20px;
}

.p-head h1 {
    font-weight: 600;
    text-align: center;
    color: #000;
    padding-bottom: 20px;
}

.productcart {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.p-carts {
    width: 250px;
    padding: 15px;
}

.p-carts a {
    text-decoration: none;
}

.p-carts .cartdetails {
    display: block;
}

.p-carts .cartdetails figure {
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    margin: 0px 0px 16px;
}

.p-carts .cartdetails img {
    max-width: 100%;
    transition: all 0.3s ease-in-out;
}

.p-carts .cartdetails p {
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    padding: 0px 5px;
    color: #000;
}

.slidmove:hover .o-price {
    animation: shakee 0.6s ease-in-out infinite;
}

.p-carts:hover img {
    transform: scale(1.1);
}

/* Dealsection */
.dealsection {
    background-image: url("../../Assets/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
    padding: 50px 0px;
    display: flex;
    align-items: center;
}

.dealmain {
    width: 100%;
}

.dealtime figure {
    width: 100%;
}

.dealtime figure img {
    max-width: 100%;
    cursor: pointer;
}

.dealtime figure span {
    position: relative;
    bottom: 100px;
    right: 160px;
}

.brandsection {
    background-image: url("../../Assets/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.brand img {
    max-width: 100%;
    position: relative;
    top: 5px;
}

.brand1 img {
    max-width: 100%;
}

.brandhead {
    overflow: hidden;
}

.b-head h1 {
    text-align: center;
    font-weight: 600;
    color: #000;
    padding-bottom: 50px;
}


@media (min-width:320px) and (max-width:480px) {

    /* Homesection */
    .img-cont h1 {
        font-size: 26px;
    }

    .img-cont p {
        font-size: 12px;
    }

    .img-cont button {
        font-size: 12px;
    }

    /* Homesupport */
    .mainsupport {
        display: block;
    }

    /* slidersection */
    .slidersection {
        padding: 0;
    }

    .sliderhead .slidhead {
        display: block;
        padding-bottom: 20px;
    }

    .sliderhead {
        padding-top: 30px;
    }

    .slidhead h2 {
        width: inherit;
        font-size: 22px;
    }

    /* productsection */
    .productsection {
        padding: 0;
    }

    .producthead {
        display: block;
    }

    .p-head h1 {
        font-size: 26px;
    }

    .p-carts {
        width: 130px;
    }

    /* Dealsection */
    .dealsection {
        display: block;
        padding: 60px 0px;
        min-height: 0;

    }

    .dealtime figure span {
        position: static;
    }
    .b-head h1{
        font-weight: 500;
        font-size: 22px;
    }

}